{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Summary Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free-6.4.0-web/css/all.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!--Font 사용, 나눔스퀘어 글꼴-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <!-- Custom styles for this template-->
    <link href="{%static 'css/main.css'%}" rel="stylesheet" />
    <!--Word Cloud-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>-->
    <!--최신버전-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<!--<i class="fa-solid fa-arrow-right"></i> 화살표 fontawsome-->
<!--<i class="fa-solid fa-square"></i> 네모 fontawesome-->
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

         <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'main' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="{% static 'assets/favicon.ico'%}">
                </div>
                <div class="sidebar-brand-text mx-3">HDAM</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main' %}">
                    <span class="d-flex justify-content-center">Keyword Based</span>
                    <span class="d-flex justify-content-center">Economics Contents Curation</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="#" style="pointer-events: none;">
                    <span class="d-flex justify-content-center">Summary Page</span>
                    <span class="d-flex justify-content-center">요약 정보</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

             <!-- Heading -->
            <div class="sidebar-heading d-flex justify-content-center text-bg-light">
                <span>선택한 일자</span>
            </div>

            <!-- Selected Date -->
            <li class="nav-item active">
                <a class="nav-link">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>{{date}}</span>
                </a>
            </li>

            <!-- Heading -->
            <div class="sidebar-heading d-flex justify-content-center text-bg-light">
                <span>선택한 키워드</span>
            </div>

            <!-- 내가 선택했던 키워드가 무엇인지 보여주는 PART-->
            {% for keyword in selected_keywords %}
                <li class="nav-item active">
                    <a class="nav-link">
                        <i class="fa-solid fa-arrow-right"></i>
                        <span>{{ keyword }}</span>
                    </a>
                </li>
            {% endfor %}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper 사이드바의 오른쪽 부분 -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow justify-content-center">
                    <div class="text-center ml-4 mt-2">
                        <a href="{% url 'main' %}" style="text-decoration: none; color: black;">
                            <h4>키워드 기반 경제 콘텐츠 큐레이션</h4>
                        </a>
                    </div>
                </nav>
                <!--End of TopNavbar-->

                <!--Begin Page Content 네비게이션 아래 공간에 Conetents-->
                <div class="container-fluid">

                    <!-- Page Heading (NavBar와 똑같은 단어)-->
                    <div class="d-sm-flex align-items-center justify-content-center mb-4">
                        <h1 class="h1 mb-0 text-gray-800">요약된 기사문</h1>
                    </div>
                    <div class="d-sm-flex align-items-center justify-content-center mb-4">
                        <h1 class="h5 mb-0 text-gray-800">키워드들간의 후처리 과정을 거친 요약 기사문</h1>
                    </div>

                    <!-- 전처리 이후 데이터 표시 TEST-->
<!--                    <div>-->
<!--                        {% for key, value in result_dict.items %}-->
<!--                            <span>{{ value.title }}</span>-->
<!--                            <span>{{ value.agency }}</span>-->
<!--                        {% endfor %}-->
<!--                    </div>-->


                </div>
                <!--End Page content-->
            </div>
            <!-- End of Main Content -->

            <!-- Footer 키워드 관련 뉴스 기사를 모아서 볼 수 있는 화면으로 넘어가는 페이지 -->
            <footer class="sticky-footer bg-white shadow">
                <div class="container text-center my-auto">
                        <a class="btn btn-success" href="{% url 'main_img' date=date keyword=keyword%}?page=1">
                            <i class="fa-solid fa-image"> </i>
                            <span> 키워드 관련 뉴스기사 보기</span>
                        </a>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

</body>
</html>