{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free-6.4.0-web/css/all.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!--Font 사용, 나눔스퀘어 글꼴-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <!-- Custom styles for this template-->
    <link href="{%static 'css/main.css'%}" rel="stylesheet" />
    <!--Word Cloud-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>-->
    <!--최신버전-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--favicon 설정-->
    <!--<link rel="icon" href="{% static 'assets/favicon.ico'%}" type="image/x-icon">-->


</head>
<!--<i class="fa-solid fa-arrow-right"></i> 화살표 fontawsome-->
<!--<i class="fa-solid fa-square"></i> 네모 fontawesome-->
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'main' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="{% static 'assets/favicon.ico'%}">
                </div>
                <div class="sidebar-brand-text mx-3">HDAM</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main' %}">
                    <span class="d-flex justify-content-center">Keyword Based</span>
                    <span class="d-flex justify-content-center">Economics Contents Curation</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="#" style="pointer-events: none;">
                    <span class="d-flex justify-content-center">Main Page</span>
                    <span class="d-flex justify-content-center">주제 소개</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading d-flex justify-content-center text-bg-light">
                <span>Intro</span>
            </div>

             <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main' %}">
                    <i class="fa-solid fa-arrow-right"></i>
                    <span>주제 소개</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading d-flex justify-content-center text-bg-light">
                    <span>DATE</span>
                </div>

                {% for date in date_context %}
                    <!-- Nav Item - Dashboard -->
                    <!-- 첫번째 항목만 활성화 하려면 <li class="nav-item {% if forloop.first %}active{% endif %}"> -->
                    <li class="nav-item">
                        <!--if click, move that day-->
                        <a class="nav-link" href="{% url 'date-view' date=date %}">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span>{{date}}</span>
                        </a>
                    </li>
                {% endfor %}

                <!-- End Divider -->
                <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper 사이드바의 오른쪽 부분 -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- TopNavbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow justify-content-center">
                    <div class="text-center ml-4 mt-2">
                        <a href="{% url 'main' %}" style="text-decoration: none; color: black;">
                            <h4>키워드 기반 경제 콘텐츠 큐레이션</h4>
                        </a>
                    </div>
                </nav>
                <!--End of TopNavbar-->

                <!--Begin Page Content 네비게이션 아래 공간에 Conetents-->
                <div class="container-fluid">

                     <!-- Page Heading (NavBar와 똑같은 단어)-->
                    <div class="d-sm-flex align-items-center justify-content-center mb-4">
                        <h1 class="h1 mb-0 text-gray-800">주제 소개</h1>
                    </div>

                    <!--IMG 경제관련-->
                    <img src="{% static 'assets/img/economics2.jpg'%}" alt="econimics" style="width: 500px; margin: 20px auto; display: block;" >

                    <!--개요-->
                    <div class="d-sm-flex align-items-center justify-content-center mb-4">
                        <h1 class="h4 mb-0 text-gray-800">개요</h1>
                    </div>

                    <!--개요 설명-->
                    <div class="d-sm-flex align-items-center justify-content-center mb-4">
                        <div class="text-center">
                            <p class="text-lg">인터넷은 정보의 바다라 불릴 만큼 많은 양의 정보가 쏟아지지만 </p>
                            <p class="text-lg">우리는 정보 하나하나를 일일이 확인할 수 없으며, 코로나 팬데믹의 영향으로 부동산ㆍ경제 관련 정보에 대한 관심이 높아졌다.</p>
                            <p class="text-lg">그리하여 우리는 사용자의 관심사와 사회에서 이슈가 되는 경제 관련 정보들을</p>
                            <p class="text-lg">최대한 아우를 수 있는 자동 요약 시스템을 제공하고자 한다.</p>
                        </div>
                    </div>

                    <!--기대 효과-->
                    <div class="d-sm-flex align-items-center justify-content-center mb-4">
                        <h1 class="h4 mb-0 text-gray-800">기대효과</h1>
                    </div>

                    <!--기대효과 설명-->
                    <div class="d-sm-flex align-items-center justify-content-center mb-4">
                        <div class="text-center">
                            <p class="text-lg"> 경제 관련 키워드를 사용하여 뉴스들을 검색하고, 검색된 기사들을 크롤링하여 다량의 뉴스 기사를 수집한다.</p>
                            <p class="text-lg">그리고 이를 요약함에 있어서 여러 검증을 거치며 다중 키워드와 최대로 관련된 기사를 수집하기에,</p>
                            <p class="text-lg">사용자에게 친화적이며 다중문서를 요약하여 출력하기에 사용자로 하여금 시간 절약에 큰 힘을 실어줄 수 있다.</p>
                            <p class="text-lg">특히 경제 관련 기사를 위주로 기사를 가져오기에 투자, 부동산, 금융 관련 등 경제 관련 다양한 분야에서 도움을 줄 수 있다</p>
                        </div>
                    </div>

                </div>
                <!--End Page content-->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

</body>
</html>