<!--버튼 부분 container-->
                    <div class="container fluid">
                        <!--폼 시작, KEYWORD를 선택하여 submit한다. + date 정보를 넘겨준다.-->
                        <!-- 나중에 name = keyword 인 것들을 main_sum 부분으로 넘겨줄 것임. (즉, 체크한 것)-->
                        <form id="submitKeyword"action="{% url 'main_sum' date %}" method="post">
                            {% csrf_token %}
                             <!--고정 키워드 부분-->
                            <div class="d-sm-flex align-items-center mb-4">
                                <h1 class="h3 mb-0 text-gray-800">고정 키워드</h1>
                            </div>

                            <div class="btn-group btn-group-toggle mb-4" data-toggle="buttons">
                                <!-- 체크박스에 name 속성과 value 속성 추가 -->
                                {% for keyword in fix_keyword %}
                                    <label class="btn btn-info rounded-pill" style="margin-right: 10px;">
                                        <input type="checkbox" name="keyword" value ="{{keyword.VALUE}}" autocomplete ="off">{{keyword.VALUE}}
                                    </label>
                                {% endfor %}
                            </div>

                             <!--일일 키워드 부분-->
                            <div class="d-sm-flex align-items-center mb-4">
                                <h1 class="h3 mb-0 text-gray-800">어제의 일일 키워드</h1>
                            </div>

                            <div class="btn-group btn-group-toggle mb-4" data-toggle="buttons">
                                <!-- 체크박스에 name 속성과 value 속성 추가 -->
                                {% for keyword in day_keyword %}
                                    <label class="btn btn-info rounded-pill mb-4" style="margin-right: 10px;">
                                        <input type="checkbox" name="keyword" value ="{{keyword.VALUE}}" autocomplete ="off">{{keyword.VALUE}}
                                    </label>
                                {% endfor %}
                            </div>

                            <!--일일 키워드 부분-->
                            <div class="d-sm-flex align-items-center mb-4">
                                <h1 class="h3 mb-0 text-gray-800">복합 키워드</h1>
                            </div>

                            <div class="btn-group btn-group-toggle mb-4" data-toggle="buttons">
                                <!-- 체크박스에 name 속성과 value 속성 추가 -->
                                {% for keyword in mix_keyword %}
                                    <label class="btn btn-info rounded-pill mb-4" style="margin-right: 10px;">
                                        <input type="checkbox" name="keyword" value ="{{keyword.VALUE}}" autocomplete ="off">{{keyword.VALUE}}
                                    </label>
                                {% endfor %}
                            </div>


                            <!--키워드를 제출해주는 버튼-->
                            <div class="d-flex justify-content-center mb-5">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa-solid fa-angles-right"></i>
                                    <span>Submit</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--Keyword Select div Fin-->



<!--키워드가 선택되지 않았을 때, 알림을 내보내며, 페이지 이동 X-->
    <script>
        $(document).ready(function(){
            $("#submitKeyword").submit(function(e){
                // 체크된 체크박스의 개수를 반환
                let checked = $("input[type=checkbox]:checked").length;
                // 체크박스가 체크되어 있을 경우, 알림 + 폼 제출 X
                if(!checked) {
                    alert("키워드를 하나 이상 선택해주세요.");
                    e.preventDefault();
                }
            });
        });
    </script>